<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mani's Profile</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <a href="#" class="logo">WELCOME!!</a>
        <i class="bx bx-menu" id="menu-icons"></i>
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="" class="active">About</a>
            <a href="/#skill">Skills</a>
            <a href="/#portfolio">Projects</a>
            <a href="/#contact">Contact</a>
        </nav>
    </header>
    <section class="about" id="about">
        <h2 class="heading">
            About <span> Me </span>

        </h2>
        <div class="about-content">
            <h3>ELECTRONICS AND COMMUNICATION ENGINEER</h3>   
            <div class="p1">
                <p>
                    Dedicated and Hardworking Engineering Student with a
                    passion for learning new technologies and capable of
                    adapting to new environment with better <b>Interpersonal</b>
                    and <b>Leadership</b> skills when working as a team. Good Knowledge in <b>Python, C and Embedded C</b>. Worked in projects like  
                
            
                <br>
                 <ul>
                 <li><a href = "project 1"><u>IOT Based Door Lock System</u></a></li>
                 <li><a href = "https://github.com/anibharathi/IBM-projects" target="_blank"><u>Weather classification</u></a></li>
                 <li><a href = "project 3"><u>Home Automation</u></a></li>
                 <li><a href = "project 2"><u>Traffic Light Controller</u></a></li>
                 <li><a href = "project 4"><u>Water Level Monitoring</u></a></li>
                 </ul>
            
            <div class="p2">
        
                <b>CERTIFICATIONS COURSES:</b> <ul>
                  <li>"Microcontrollers and C Programming language" in Udemy</li>
                  <li>"Introduction to Raspbery Pi" in Ec-Council</li>
                  <li>"Python Fundamentals for Beginners" in Great learning</li>
                  <li>"Ethical Hacking Essentials" in Ec-Council</li>
                  <li>"The Complete Responsive Web Design Course" in Udemy</li>
                </ul> 
            </div>
                </p> 
            </div>
        </div>
        <div class="btn-box btnx">
            <a href="/" class="btn">Go Back</a>

        </div>
    </section>
    <footer class="footer">
        <div class="footer-txt">
            <p>Copyright &copy 2024 by Manibharathi | All Rights Reserved.</p>
        </div>
        <div class="footer-iconTop">
            <a href="#home"><i class="bx bx-up-arrow-alt"></i></a>
        </div>
    </footer>
    <script src="static/js/scrollreveal.js"></script>
    <script src="static/js/typed.umd.js"></script>
    <script src="static/js/script.js"></script>
</body>
</html>