<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mani's Profile</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <a href="#" class="logo">WELCOME!!</a>
        <i class="bx bx-menu" id="menu-icons"></i>
        <nav class="navbar">
            <a href="" class="active">Home</a>
            <a href="#about">About</a>
            <a href="#skill">Skills</a>
            <a href="#portfolio">Projects</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>
    <section class="home" id="home">
        <div class="home-content">
            <h3>Hello, It's me</h3>
            <h1>Manibharathi</h1>
            <h3>And I'm <span class="multiple-text"></span></h3>
            <p>I have a good knowledge in Embedded System. I have also done some handful projects in these domain. Why are you waiting?? Scroll down to explore those exciting projects :)</p>
            <div class="social-media">
                
                <a href="https://www.instagram.com/manibharathivnp?igsh=c3Q4N2dnY3NkZzcz"target="_blank"><i class="bx bxl-instagram-alt"></i></a>
                <a href="https://www.linkedin.com/in/mani-bharathi-6695a522b/" target="_blank"><i class="bx bxl-linkedin"></i></a>
                <a href=" https://wa.me/qr/IN4YJKWRBLLGB1 " target="_blank"><i class="bx bxl-whatsapp"></i></a>
                <a href="https://github.com/anibharathi" target="_blank"><i class="bx bxl-github"></i></a>
            </div>
            <a href="https://drive.google.com/file/d/1yMCZJRMRXXLEuKK8VITkaNrkeprOc0rb/view?usp=drive_link" class="btn" target="_blank"> Resume</a>
        </div>
        <img src="static/images/about.jpg" alt="" >
    </section>
    <section class="about" id="about">
        <h2 class="heading">
            About <span> Me </span>

        </h2>
        <div class="about-img">
            <img src="static/images/home.jpg" alt="">
            <span class="circle-spin"></span>
        </div>
        <div class="about-content">
            <h3>ELECTRONICS AND COMMUNICATION ENGINEER</h3>
        <p>As an Electronics Hobbyist and as an Embedded Engineer I always love to develop some interesting projects that make our lifestyle more sophisticated. As I am also interested in Front end Web development. I have done some of the projects in this domains.</p>
        </div>
        <div class="btn-box btnx">
            <a href="about" class="btn">Read more</a>
        </div>
    </section>
    <section class="skill" id="skill">
        <h2 class="heading">My <span>Skills</span></h2>
        <div class="skills-row">
            <div class="skills-column">
                <h3 class="title">Coding Skills</h3>
                <div class="skills-box">
                    <div class="skills-content">
                        <div class="progress">
                            <h3>C<span>80%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>
                        <div class="progress">
                            <h3>EMBEDDED C<span>75%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>
                        <div class="progress">
                            <h3>PYTHON<span>70%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>
                        <div class="progress">
                            <h3>HTML, CSS, JAVASCRIPT<span>60%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="skills-column">
                <h3 class="title">Professional Skills</h3>
                <div class="skills-box">
                    <div class="skills-content">
                        <div class="progress">
                            <h3>INTERPERSONAL COMMUNICATION<span>90%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>
                        <div class="progress">
                            <h3>LEADERSHIP<span>80%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>
                        <div class="progress">
                            <h3>PROBLEM SOLVING<span>85%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>
                        <div class="progress">
                            <h3>DECISION MAKING<span>80%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="portfolio" id="portfolio">
        <h2 class="heading">
            Latest <span>Projects</span>
        </h2>
        <div class="portfolio-container">
            <div class="portfolio-box">
                <img src="static/images/portfolio1.jpg" alt="">
                <div class="portfolio-layer"><h4>Weather classification</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed tempora inventore perspiciatis?</p>
                <a href="https://github.com/anibharathi/IBM-projects" target="_blank"><i class='bx bx-link-external'></i></a>
            </div>
            </div>
            <div class="portfolio-box">
                <img src="static/images/portfolio2.jpg" alt="">
                <div class="portfolio-layer"><h4>Door lock system</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed tempora inventore perspiciatis?</p>
                <a href="#"><i class='bx bx-link-external'></i></a>
            </div>
            </div>
            <div class="portfolio-box">
                <img src="static/images/portfolio3.jpg" alt="">
                <div class="portfolio-layer"><h4>Webdesign</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed tempora inventore perspiciatis?</p>
                <a href="#"><i class='bx bx-link-external'></i></a>
            </div>
            </div>
            <div class="portfolio-box">
                <img src="static/images/portfolio4.jpg" alt="">
                <div class="portfolio-layer"><h4>Webdesign</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed tempora inventore perspiciatis?</p>
                <a href="#"><i class='bx bx-link-external'></i></a>
            </div>
            </div>
            <div class="portfolio-box">
                <img src="static/images/portfolio5.jpg" alt="">
                <div class="portfolio-layer"><h4>Webdesign</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed tempora inventore perspiciatis?</p>
                <a href="#"><i class='bx bx-link-external'></i></a>
            </div>
            </div>
            <div class="portfolio-box">
                <img src="static/images/portfolio6.jpg" alt="">
                <div class="portfolio-layer"><h4>Webdesign</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed tempora inventore perspiciatis?</p>
                <a href="#"><i class='bx bx-link-external'></i></a>
                </div>
            </div>
        </div>
    </section>
    <section class="contact" id="contact">
        <h2 class="heading">Contact <span>Me</span></h2>
        <form method="post">
            <div class="input-box">
                <input type="text" name = "name" id = "name" placeholder="Full Name">
                <input type="email" name="email" id="email" placeholder="Email Address">
            </div>
            <div class="input-box">
                <input type="number" name = "number" id="number" placeholder="Mobile Number">
                <input type="text" name = "subject" id = "subject" placeholder="Email Subject">
            </div>
            <textarea name="message" id="message" cols="30" rows="10" placeholder="Your Message"></textarea>
            <input type="submit" value="Send Message" class="btn">
        </form>
    </section>
    
    <footer class="footer">
        <div class="footer-txt">
            <p>Copyright &copy 2024 by MANI | All Rights Reserved.</p>
        </div>
        <div class="footer-iconTop">
            <a href="#home"><i class="bx bx-up-arrow-alt"></i></a>
        </div>
    </footer>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script src="static/js/script.js"></script>
</body>

</html>
